body {
	margin: 0;
	background-color: #A41C30;
	font-family: lexend, sans-serif;
	color: white
}

nav {
	position: sticky;
	top: 0;
	display: flex;
	justify-content: center;
	gap: 10px;
	background-color: #74131D;
	font-size: 1.5rem;
}

nav a {
	padding: 0.5rem;
	transition: background-color 0.25s ease;
}

nav a:hover {
	background-color: #00000033;
}

main {
	padding: 10px;
	max-width: 1200px;
	margin: auto;
}

.index {
	display: grid;
	grid-template-columns: 1fr 3fr;
	gap: 10px;
}

.index div {
	padding: 20px;
	background-color: #74131D;
	border-radius: 20px;
}

section {
	background-color: #74131D;
	border-radius: 20px;
	padding: 20px;
}

a {
	color: white;
	text-decoration: none;
}

h1 {
	text-decoration: underline;
	text-align: center
}

h2 {
	text-align: center
}

table{
	width: 100%;
	text-align: left;
	border-collapse: collapse;
}

tr:not(:first-child) {
	border-top: 1px solid white;
	transition: background-color 0.25s ease;
}

tr:not(:first-child):hover {
	background-color: #00000033;
	cursor: pointer;
}

th, td {
	padding: 5px;
}

.treasures {
	display: flex;
	gap: 10px;
	max-width: 200px;
	width: 100%;
	margin: 20px auto;
}

.treasures img, .treasures div {
	position: relative;
	width: calc(33.33% - 10px);
}

.treasures div img {
	position: absolute;
	width: 100%;
}

.treasures div img:nth-child(2) {
	opacity: 0;
	animation: fadeInOut 5s infinite;
	animation-timing-function: ease-in-out;
}

@keyframes fadeInOut {
	from { opacity: 0; }
	50%  { opacity: 1; }
	to   { opacity: 0; }
}

.icons {
    display: flex;
    gap: 10px;
    max-width: 750px;
    margin: auto;
}

.icons label {
    cursor: pointer;
	width: 20%;
}

.icons img {
    object-fit: cover;
	width: 100%;
	transition: transform 0.25s ease;
}

.icons img:hover {
    transform: scale(1.05);
}

.icon-radio, .text{
    display: none;
}

.req {
    margin: auto;
    text-align: left;
	max-width: 750px;
}

.icon-radio:nth-of-type(1):checked ~ .req .text:nth-of-type(1),
.icon-radio:nth-of-type(2):checked ~ .req .text:nth-of-type(2),
.icon-radio:nth-of-type(3):checked ~ .req .text:nth-of-type(3),
.icon-radio:nth-of-type(4):checked ~ .req .text:nth-of-type(4),
.icon-radio:nth-of-type(5):checked ~ .req .text:nth-of-type(5) {
    display: block;
}

.icon-radio:checked ~ .req .default {
    display: none;
}

.gear {
	display: flex;
	gap: 10px;
	height: 150px;
}

.set {
	background-color: #47151A;
	border-radius: 10px;
	padding: 10px;
	display: flex;
	gap: 10px;
}

.set div {
	position: relative;
}

.set span {
	position: absolute;
	font-weight: bold;
}

.set p {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	text-shadow:
		-1px -1px 0 black,
		 1px -1px 0 black,
		-1px  1px 0 black,
		 1px  1px 0 black;
	z-index: 2;
	width: 100%;
	margin: 0px;
	font-weight: bold;
}

.set img:not(.top1):not(.top2):not(.top3):not(.top4):not(.top5) {
	height: 100%;
}

.top1 {
	position: absolute;
	height: 54px;
	top: 10px;
	left: 44px;
	transform: rotate(0deg);
}

.top2 {
	position: absolute;
	height: 54px;
	top: 29px;
	left: 16px;
	transform: rotate(288deg);
}

.top3 {
	position: absolute;
	height: 54px;
	top: 29px;
	left: 72px;
	transform: rotate(72deg);
}

.top4 {
	position: absolute;
	height: 54px;
	top: 61px;
	left: 27px;
	transform: rotate(216deg);
}

.top5 {
	position: absolute;
	height: 54px;
	top: 61px;
	left: 61px;
	transform: rotate(144deg);
}